*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    font-family: sans-serif;
}

main{
    margin: 0 10%;
    margin-top: 2em;
}




header{
    text-align: center;
    padding-top: 1.5em;
}

h1{
    color: palevioletred;
    font-weight: bolder;
    font-size: 50px;
}

.paragrafo{
    margin-top: 3em;
    margin-left: 20%;
    margin-right: 20%;
   
}

img{
    height: 65px;;
    float: left;
    margin-right: 0.5em;
}

.email{
    color: #4dcceb
}



.clear-fix::after{
    content:"";
    clear: both;
    display: block;
}

.col{
    float: left;
    width: calc(100% / 3);
    padding: 1em;
}

.cornice{
background-color: black;
color: white;


}